.imgdiv
{
	height: 450px;
	width: 450px;
	margin-left: 300px;
	margin-top: 250px;
	display: inline-flex;
}
.img
{
	height: 400px;
	width: 400px;
	border-radius: 150px;
	transition-duration: 1s;
	opacity: 0px;
	box-shadow: -10px -10px 10px black;
}
.img:hover
{
	height:350px ;
	width: 350px;
	transition-duration: 2s;
/*	transform: translateY(0px);*/
	border-radius: 200px;
	box-shadow: 10px 10px 10px black;
	opacity: 0px;

}
.mainimgdiv
{
	display: inline-flex;
}
.imp 
{
	padding-left: 5px;
	margin-left: 30px;
	margin-top: 10;
	transition-duration: 1s;
}
.imp:hover
{
	font-size: 20px;
}
.infodiv
{
	height: 400px;
	width: 400px;
	font-size: 60px;
	line-height: 4px;
	padding-left: 40px;
   line-height: 10px;

}
.info 
{
	padding-left: 60px;
/*	padding-bottom: 40px;*/
   padding-top: 300px;
   font-size: 35px;
   line-height: 10px;

}
.info1
{
	padding-left: 60px;
	font-size: 60px;
	font-family: cursive;
	color: ;
	line-height: 10px;
}
.info2
{
	padding-left: 60px;
	line-height: 10px;
}
.icon
{
	width: 45px;
	height: 45px;
	
	padding-left: 10px;
	padding-top: 10px;

}
.icondiv
{
	margin-left: 50px;
	margin-top: 5px;
}
.btn
{
	background-color: pink;
	border: none;
	height: 40px;
	width: 200px;
	border-radius:40px ;
	transition-duration: 1s;
	margin-left: 20px;
}
.btn:hover
{
	background-color: lightgreen;
	background-size: 20px;
	height: 50px;
	width: 220px;
}